body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0%;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin:0% auto ;


}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url(../images/intro_01.jpg) 
    center
    no-repeat;
        
    background-size: cover ; 
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 0.9;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #fff;
    margin: 60px auto 0;
}

.intro__suptitle {
    margin-bottom:  20px;
    font-size: 56px;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-weight: 400;
}


/* Header */
.header {
    padding-top: 30px;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1000;
}

.header__inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38e;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav__link:hover {
    color: #fce38e;
}

.nav__link:hover::after {
    opacity: 1;
}

/* Button */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 7px 25px;

    border: 3px solid #fff;

    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    margin: 50px auto 0;

    transition: color .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #693328;
}

/* Slider */

.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;   
}

.slider__item {
    width: 22%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-weight: 700;
    font-size: 24px;
}

/* Section 1 */

.s1 {
    display: flex;
    width: 100%;
    height: 750px;
    position: relative;
    background: #ffffff;    
    background-size: cover ;

    padding-top: 80px;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1000;
}

.s1__inner {
    width: 100%;
    max-width: 880px;
    margin: 0px auto;
    text-align: center;
}

.s1__title {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.30px;
}

.s1__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    font-weight: 400;

}

.s1__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #e78080 ;
    margin: 50px auto 50px;
}

.s1__text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    margin: 0 auto 90px;
}

/* S1_About */

.about {
    display: flex;
    justify-content: space-between;
}

.s1__images {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fig:hover img {
    opacity: .1;
}

.fig {
    background: linear-gradient(to bottom, #f38181, #fce38a );
}

.fig img {
    display: block;
    transition: opacity .1s linear;
}

/* Statistic */

.statistic {
    width: 100%;
    height: 265px;
    background-color: #a0dacc;
    bottom: 0%;  
}

.statistic__inner {
    display: flex;
    justify-content: space-between; 
}

.statistic__item {
    
    padding: 20px 70px 39px;
    position: relative;
    text-align: center;
    border-right: 3px solid #acecdd; 

    font-size: 18px;
    color: #fff;

}

.statistic__item1 {
    padding: 20px 70px 11px;
    position: relative;
    text-align: center;
    border-right: 3px solid #acecdd;
    border-left: 3px solid #acecdd; 

    font-size: 18px;
    color: #fff;
}

.statistic__num {
    font-weight: 700;
    font-size: 70px;

}
/* Section 2 */

.s2 {
    display: flex;
    width: 100%;
    height: 650px;

    background: #ffffff;    
    background-size: cover ;

    padding-top: 80px;
    top: 0%;
    left: 0%;
    right: 0%;
    
}

.s2__inner {
    width: 100%;
    max-width: 880px;
    margin: 0px auto;
    text-align: center;
}

.s2__title {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.30px;
}

.s2__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    font-weight: 400;

}

.s2__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #e78080 ;
    margin: 50px auto 50px;
}

/* S2_Services */

.services1 {
    border-bottom: 2px solid rgb(213, 213, 213);    
}

.services2 {
    margin-top: 50px;
}

.s2__images {
    width: 100%;
    display: flex; 
    justify-content:space-evenly;
}

.serv:hover {
    color: #32bf9ed4;
    opacity: .8;
}

.serv h3 {
    text-transform: uppercase;
    grid-area: h;
    align-self: center;
}

.serv {
    display: grid;
    grid-template-columns: 30px 60px 280px 0px;
    grid-template-rows: 0.3fr;
    grid-template-areas: 
    ". i h"
    ". . p";
    margin-right: 30px; 
    margin-bottom: 50px;
}

.serv p {
    grid-area: p;
}

.serv img {
    grid-area: i;
    transition: opacity .1s linear;
}